h1,
h2,
h3,
h4,
p,
a {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 48px;
}

h2 {
  font-size: 24px;
  font-weight: 200;
}

p {
  font-size: 16px;
  font-weight: 200;
}

a {
  font-size: 16px;
  font-weight: 200;
  color: black;
  text-decoration: none;
}

body {
  margin: 24px;
}

.nav,
.hero-container,
.edu-container,
.skills-container,
.projects-container,
.hello {
  margin-bottom: 160px;
  margin-top: 80px;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}
.nav {
  display: flex;
  gap: 24px;
  width: 100%;
}
.hero-container {
  display: flex;
  justify-content: space-between;

  /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 4fr; */
}
.hero-text {
  /* max-width: 445px; */
  margin: 0;
  padding: 0;
}

.hero-img > img {
  max-width: 360px;
  max-height: 432px;
  object-fit: cover;
  border-radius: 80px;
}

.education {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 24px;
  width: 100%;
}

.skills-container {
  width: 100%;
  display: flex;
  gap: 48px;
  justify-content: center;
  align-items: center;
  background-color: #c0d4f3;
  border-radius: 64px;
  padding: 32px;
  flex-wrap: wrap;
}

.skills {
  margin-right: 24px;
}

.project {
  max-width: 100%;
  object-fit: contain;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 24px;
  justify-content: space-between;

  /* border: 1px solid #dbdcde; */
}
.background {
  background-color: #f6f4f3;
  width: auto;
  height: fit-content;
  border-radius: 64px;
  padding: 32px;
}

.links {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}
.me {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 48px;
  width: 100%;
  margin-bottom: 48px;
}

.case-text {
  width: 48px;
  margin: 0;
  padding: 0;
}

.cover-img {
  height: auto;
  object-fit: cover;
  justify-items: baseline;
}
.hero-text {
  padding-right: 12px;
}

.img-case {
  width: 700px;
}
.case-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  background-color: #f6f4f3;
  padding-top: 48px;
  padding-bottom: 48px;
  margin-bottom: 24px;
}
.last {
  align-self: center;
}

@media (max-width: 1250px) {
  .project {
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .me {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center;
  }
}

/* tablet screens */
@media (max-width: 768px) {
  a {
    font-size: 12px;
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 18px;
  }
  .nav,
  .hero-container,
  .edu-container,
  .skills-container,
  .projects-container,
  .hello {
    margin-bottom: 48px;
    margin-top: 0px;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
  }

  .skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    padding: 48px;
  }
  .skills {
    grid-column: span 2;
    margin: 0px;
  }
  .hero-container,
  .projects-container {
    display: inline-block;
    /* width: 50%; */
    text-align: center;
    justify-content: center;
  }

  .img-case {
    width: 90%;
  }
  .hello {
    padding-top: 24px;
  }
}

/* mobile screens */
@media (max-width: 600px) {
  a {
    font-size: 12px;
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 18px;
  }
  .nav {
    display: block;
  }

  .hero-container,
  .edu-container,
  .skills-container,
  .projects-container {
    display: inline-block;
    /* width: 50%; */
    text-align: center;
    justify-content: center;
  }
  .education {
    display: inline-block;
  }
  .item {
    padding-top: 12px;
  }
  #projects {
    padding: 24px;
  }
  img {
    width: 100%;
  }
  .img-case {
    width: 90%;
  }
  .hello {
    padding-top: 24px;
  }
}
